#about-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient($green, $tan, $green);
  background-color: rgba($green, 0.75);
  height: 90vh;
  width: 100%;
  padding-top: 10vh;

  .bio {
    font-family: $title-font;
    width: 50vw;
    font-size: 4vh;
    p {
      margin: 3vh 0 1.5vh 0;
    }
  }
  img {
    height: 60vh;
  }
}
