#nav-main {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  border-top: 3px solid $pink;
  border-bottom: 3px solid $tan;
  display: flex;
  align-items: center;
  background-color: darken($black, 10%);
  ul {
    padding: 0;
    margin: 0;
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    a {
      color: $tan;
      text-decoration: none;
    }
    a:hover {
      color: $pink;
      text-decoration: underline overline;
    }
  }
}
