#media-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/paper.jpg);
  height: 90vh;
  width: 100%;
  padding-top: 10vh;

  .media-background {
    position: absolute;
    top: 301vh;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(
      rgba($green, 0.7),
      rgba($tan, 0.7),
      rgba($green, 0.7)
    );
    height: 100vh;
    width: 100vw;
  }
  h1 {
    z-index: 3;
    font-family: $title-font;
    font-size: 7vh;
  }
  h2 {
    z-index: 3;
    font-family: $text-font;
  }

  .player-container {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgba($tan, 0.7), rgba($purple, 0.7));
    border-radius: 20px;
    width: 500px;
    height: 341px;
    .player {
      border: none;
      width: 400px;
      height: 241px;
    }
  }

  a {
    z-index: 3;
    text-decoration: none;
    color: black;
    font-family: $text-font;
  }
  a:hover {
    text-decoration: underline overline;
  }
}

@media (max-width: 800px) {
  #media-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-size: 8vw;
      text-align: center;
    }

    .player-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 50%;

      .player {
        width: 80%;
        height: 80%;
      }
    }
  }
}
