#media-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 100%;
  padding-top: 10vh;
  background-image: linear-gradient($green, $tan, $green);
  background-color: rgba($green, 0.75);
  h1 {
    font-family: $title-font;
    font-size: 7vh;
  }
  h2 {
    font-family: $text-font;
  }

  .player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    border-radius: 20px;
    width: 500px;
    height: 341px;
    border: $black solid 2px;
    .player {
      border: none;
      width: 400px;
      height: 241px;
    }
  }

  a {
    text-decoration: none;
    color: black;
    font-family: $text-font;
  }
  a:hover {
    text-decoration: underline overline;
  }
}
