#media-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 100%;
  padding-top: 10vh;
  background-color: $purple;
  h1 {
    font-family: $title-font;
    font-size: 7vh;
  }
  h2 {
    font-family: $text-font;
  }
  .player {
    border: 0;
    width: 400px;
    height: 241px;
    border: $tan solid 3vw;
    border-radius: 20px;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: $text-font;
  }
  a:hover {
    text-decoration: underline overline;
  }
}
