// @import url("https://fonts.googleapis.com/css?family=Aladin|Philosopher");
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");

//font variables
// $title-font: "Aladin", cursive;
// $text-font: "Philosopher", sans-serif;

$title-font: "Poppins", sans-serif;
$text-font: "Roboto", sans-serif;

//color variables
// $green: #a5b5b7;
// $tan: #fcdfb3;
// $purple: #662a4f;
// $pink: #e6838e;
$black: #340923;

//new colors
$green: #44625e;
$tan: #f7e4c4;
$purple: #5c3f6b;
$pink: #f3adbb;
$black: #42615d;
