@import url("https://fonts.googleapis.com/css?family=Aladin|Philosopher");

//font variables
$title-font: "Aladin", cursive;
$text-font: "Philosopher", sans-serif;

//color variables
$green: #a5b5b7;
$tan: #fcdfb3;
$purple: #662a4f;
$pink: #e6838e;
$black: #340923;
