@import "./variables";
@import "./Components/Landing/landing";
@import "./Components/NavBar/navbar";
@import "./Components/About/about";
@import "./Components/Media/media";
@import "./Components/Events/events";
@import "./Components/Contact/contact";

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  background-image: linear-gradient(black, white, black);
}
